PORT=3000
HOST=0.0.0.0
UMAMI_SCRIPT_URL=https://cloud.umami.is/script.js
UMAMI_RECORDER_SCRIPT_URL=https://cloud.umami.is/recorder.js
UMAMI_WEBSITE_ID=replace-with-your-website-id
UMAMI_DATA_ATTRIBUTES=key=value,key2=value2
# Optional. Raises GitHub API rate limits.
# GITHUB_TOKEN=github-token
