<article class="code-item">
    <div>
        <div class="label">{{ repository.label }}</div>
        <h3>{{ repository.name }}</h3>
        <p>{{ repository.description }}</p>
    </div>
    <a href="{{ repository.url }}">view on GitHub</a>
</article>
