{% extends "layouts/base.njk" %}

{% block content %}
    <section aria-labelledby="tools-heading">
        <div class="section-wrapper">
            <h2 id="tools-heading" class="section-tab">useful tools</h2>
        </div>
        <div class="tool-list">
            {% for tool in tools %}
                {% include "components/tool-item.njk" %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
